*{margin:0px;padding:0px;list-style-type: none;}
body{font-family: 微软雅黑;font-size: 14px;text-align:center;}
p{color:#333333;}
a{text-decoration:none;color:#fff;}
a:active,a:focus{-moz-outline:none;outline: none;ie-dummy:expression(this.hideFocus=ture);}
nav{width:100%;height:70px;background:#323336;alpha(opacity: 92);-moz-opacity:0.92;opacity: 0.92;}
nav .icon{width:10%;height:70px;background:url("images/fourth.png") no-repeat;display: block;float: left;margin-left: 20%;}
nav .menu{width:40%;height:70px;float: left;}
nav .menu li{float: left;width: 10%;height:70px;line-height: 70px;margin-left: 25px;}
nav .menu a{color:#9b9ca0;display: block;text-align: center;}
nav .menu a:hover{color:#fff;}
nav .menu .shouye{color:#fff;}
nav .search{width:10%;height: 70px;float: right;margin-right: 20%;margin-top:19px;}
#searchform fieldset { border:none;}
#searchform input[type="text"] { 
	background:#e8e8e8;
	border-radius:100px;
	border:none;	
	padding:0px 10px 0px 15px;
	width:100px; 
	height:35px;
	transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; 
	-webkit-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s; 
	-o-transition:all 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	color:#585858; 
}
#searchform input[type="text"]:hover, #searchform input[type="text"]:focus { width:160px; }
header{width:100%;height:1080px;background:url("images/bg15.jpg") no-repeat center;}
header .main{width:57%;height:100%;margin:0px auto;}
header .main h1{color:#fff;line-height: 200px;}
