* {
  margin: 0;
  padding: 0;
}
body {
  background: #e8ded0;
}
.header {
  height: 188px;
  position: relative;
}
.header .bg {
  width: 100%;
}
.header .icon-stop {
  position: absolute;
  top: 12px;
  left: 20px;
}
.header .icon-stop img {
  width: 30px;
}
.header .icon-share {
  position: absolute;
  right: 20px;
  top: 12px;
}
.header .icon-share img {
  width: 30px;
}
.header .time {
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
.main {
  position: relative;
}
.main .bg {
  width: 100%;
  position: absolute;
  z-index: -100;
}
.main .score {
  width: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -70px;
}
.main .score img {
  width: 80px;
}
.main .score span {
  font-size: 44px;
  font-weight: bold;
  color: #3a251d;
}
.hole {
  width: 312px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -156px;
}
.hole li {
  width: 100px;
  height: 80px;
  float: left;
  list-style: none;
  margin-left: 4px;
  position: relative;
  top: 40px;
  overflow: hidden;
  margin-top: 30px;
  cursor: pointer;
}
.hole li img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.hole li .hole2 {
  width: 60px;
  position: absolute;
  left: 50%;
  margin-left: -28px;
  bottom: 20px;
  z-index: -2;
}
.hole li .mouse {
  width: 60px;
  height: 90px;
  display: inline-block;
  position: absolute;
  left: 50%;
  z-index: -2;
  margin-left: -27px;
  bottom: -85px;
}
.hole li .mouse img {
  width: 54px;
  margin-left: 2px;
  position: absolute;
  top: 0;
}
.hole li .box {
  width: 60px;
  height: 75px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -30px;
}
